@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #bb2339;
  padding: 20px 0;
  z-index: 10;
  transition: 0.5s;
}

.navbar-shrink {
  padding: 10px 0;
  box-shadow: 0 2px 10px 5px rgb(240, 140, 140);
}

.offcanvas-body {
  background-color: #bb2339;
}
.offcanvas-body .btn {
  color: white;
  border-radius: 100px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.offcanvas-body .btn:hover {
  color: #BB2339;
  background-color: white;
}
.offcanvas-body a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
}
.offcanvas-body a:hover {
  border-bottom: 1px solid white;
}
@media screen and (max-width: 992px) {
  .offcanvas-body a:hover {
    border-bottom: 1px solid white;
  }
  .offcanvas-body .btn {
    margin-top: 15px;
  }
}

.dropdown-menu li .dropdown-item:hover {
  border-bottom: 1px solid blue;
  color: blue;
}

.navbar-toggler {
  border: 2px solid white;
}
.navbar-toggler:hover {
  box-shadow: 0 0 5px 5px rgb(218, 152, 152);
}

@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
.footer {
  position: relative;
  margin-top: 340px;
  padding-top: 180px;
  background-color: #BB2339;
  bottom: 0;
  color: #ffffff;
}
.footer .newsletter {
  position: absolute;
  left: 0;
  right: 0;
  top: -220px;
  background: #bb2339;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  padding: 64px 0;
}
.footer .newsletter h5 {
  font-family: "Cera Round Pro";
  font-weight: 900;
  font-size: 23px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #ffffff;
}
.footer .newsletter h1 {
  font-family: "Cera Round Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #ffffff;
  padding: 25px 0;
}
.footer .newsletter p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-bottom: 64px;
}
.footer .newsletter .joining {
  text-align: center;
}
.footer .newsletter .joining input {
  width: 635px;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  background-color: transparent;
  padding: 12px 20px;
  color: white;
  margin-right: 32px;
}
.footer .newsletter .joining input:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  .footer .newsletter .joining input {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 780px) {
  .footer .newsletter .joining input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
.footer .newsletter .joining a {
  font-family: "Cera Round Pro";
  color: #242424;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 175%;
  font-style: normal;
  border: 1px solid #BB2339;
  border-radius: 100px;
  color: white;
  font-weight: 900;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 12px 32px;
}
.footer .newsletter .joining a:hover {
  color: #BB2339;
  background-color: white;
  font-weight: bold;
}
.footer .row {
  padding: 150px 0 40px;
}
@media screen and (max-width: 992px) {
  .footer .row {
    gap: 40px;
  }
}
@media screen and (max-width: 992px) {
  .footer .row div:first-child {
    order: 1;
  }
}
@media screen and (max-width: 992px) {
  .footer .row div:last-child {
    order: 2;
  }
}
.footer .row div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer .row div h3 {
  font-family: "Cera Round Pro";
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
.footer .row div p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
}
.footer .row .footer_logo img {
  margin-top: -30px;
}
@media screen and (max-width: 768px) {
  .footer .row .footer_logo img {
    margin-top: 20px;
  }
}
.footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer .social a img {
  width: 30px;
  height: 30px;
}
.footer .pop {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 80px 0 40px;
}

@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: "Cera Round Pro";
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
.backtop {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #BB2339;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.backtop a {
  color: white;
}

* {
  scroll-behavior: smooth;
  font-style: normal;
}
* a {
  text-decoration: none;
}

#main {
  scroll-behavior: smooth;
}
#main .section1 {
  overflow-x: hidden;
  padding-top: 100px;
  color: white;
  background-color: #BB2339;
}
#main .section1 .hero {
  padding: 144px 0 200px;
}
@media screen and (max-width: 992px) {
  #main .section1 .hero {
    flex-direction: column-reverse;
  }
}
#main .section1 .hero__left {
  padding-right: 30px;
}
@media screen and (max-width: 992px) {
  #main .section1 .hero__left {
    width: 100%;
  }
}
#main .section1 .hero__left__title1 {
  font-family: "Cera Round Pro";
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}
#main .section1 .hero__left__title2 {
  font-family: "Cera Round Pro";
  font-weight: 900;
  font-size: 90px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  padding: 15px 0 10px;
}
@media screen and (max-width: 576px) {
  #main .section1 .hero__left__title2 {
    font-size: 40px;
    line-height: 100%;
  }
}
#main .section1 .hero__left__text {
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}
#main .section1 .hero__left__menulink {
  font-weight: 700;
  padding: 8px 32px;
  color: #242424;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 175%;
  font-style: normal;
  border: 1px solid #BB2339;
  border-radius: 100px;
  color: white;
  border-color: white;
}
#main .section1 .hero__left__menulink:hover {
  color: #BB2339;
  background-color: white;
}
@media screen and (max-width: 992px) {
  #main .section1 .hero__right {
    width: 100%;
  }
}
#main .section1 .hero__right img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 800px;
  max-height: 500px;
}
@media screen and (max-width: 1200px) {
  #main .section1 .hero__right img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  #main .section1 .hero__right img {
    width: 100%;
  }
}
#main .popular {
  padding: 120px 0;
  background: #f8f8f8;
}
#main .popular .popular__title {
  color: #BB2339;
  font-family: "Cera Round Pro";
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
}
#main .popular .popular__title br {
  display: none;
}
@media screen and (max-width: 460px) {
  #main .popular .popular__title br {
    display: block;
  }
}
#main .popular .owl-theme .owl-nav {
  position: absolute;
  top: -98px;
  right: 0;
}
#main .popular .owl-theme .owl-nav span {
  border: 2px solid black;
  padding: 2px 15px;
  border-radius: 6px;
}
#main .popular .owl-theme {
  margin-top: 0;
  padding-top: 20px;
}
#main .popular .owl-theme .item .text_center {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #242424;
}
#main .popular .owl-theme .item .text_price {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #BB2339;
}
#main .popular .owl-theme .owl-dots {
  display: none;
}
#main .popular .item {
  border-radius: 14px;
}
#main #ourmenu {
  padding: 120px 0;
}
#main #ourmenu h3 {
  color: #BB2339;
  font-family: "Cera Round Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 576px) {
  #main #ourmenu h3 {
    text-align: center;
  }
}
#main #ourmenu ul {
  flex-wrap: wrap;
  list-style-type: none;
  gap: 14px;
  padding: 60px 0 50px;
}
@media screen and (max-width: 576px) {
  #main #ourmenu ul {
    text-align: center;
  }
  #main #ourmenu ul li {
    width: 100%;
  }
}
#main #ourmenu ul a {
  color: #242424;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 175%;
  font-style: normal;
  border: 1px solid #BB2339;
  border-radius: 100px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  font-family: "Open Sans", sans-serif;
}
#main #ourmenu ul a:hover {
  color: white;
  background-color: #BB2339;
}
#main #ourmenu ul .all {
  color: white;
  background-color: #BB2339;
}
#main #ourmenu .menu {
  flex-wrap: wrap;
}
#main #ourmenu .menu .meals {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
}
#main #ourmenu .menu .meals:hover {
  box-shadow: 0 2px 5px 4px rgb(161, 149, 218);
}
#main #ourmenu .menu .meals .card_body img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
#main #ourmenu .menu .meals .card_body img:hover {
  transform: scale(0.5);
}
#main #ourmenu .menu .meals .card_body p {
  font-family: "Open Sans", sans-serif;
  color: #242424;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
#main #ourmenu .menu .meals .card_body h2 {
  font-family: "Open Sans", sans-serif;
  color: #BB2339;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
#main .testimony {
  padding: 100px 0 90px;
  background-color: #f4f4f4;
}
#main .testimony h4 {
  font-family: "Cera Round Pro";
  color: #242424;
  font-weight: bold;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
}
#main .testimony img {
  padding: 8px 0;
}
#main .testimony h1 {
  font-family: "Cera Round Pro";
  color: #242424;
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
#main .testimony .row {
  padding: 60px 0 40px;
}
#main .testimony .row .statik {
  padding: 30px 20px;
  margin: 15px 0;
  transition: 0.5s;
}
#main .testimony .row .statik:hover {
  transform: rotateZ(-5deg);
}
#main .testimony .row .statik h2 {
  font-family: "Inter", sans-serif;
  color: #333333;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}
#main .testimony .row .statik p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  opacity: 0.7;
}
#main .testimony .row .statik .info > * {
  padding-right: 20px;
}
#main .testimony .row .statik .info > * p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
  padding-left: 10px;
}
#main #news {
  padding: 120px 0;
}
#main #news h4 {
  font-family: "Cera Round Pro";
  color: #242424;
  font-weight: 900;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
}
#main #news img {
  padding: 8px 0;
}
#main #news h1 {
  font-family: "Cera Round Pro";
  color: #BB2339;
  font-style: bold;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
#main #news .row {
  padding: 60px 0 50px;
}
#main #news .row .box {
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  background-color: #fff;
}
#main #news .row .box img {
  width: 100%;
}
#main #news .row .box .text {
  padding: 20px 30px;
}
#main #news .row .box .text h3 {
  color: #242424;
  font-family: "Cera Round Pro";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}
#main #news .row .box .text p {
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
#main #news .row .box .text .date {
  position: relative;
  display: flex;
}
#main #news .row .box .text .date a {
  color: #BB2339;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
}
#main #news .row .box .text .date p {
  position: absolute;
  right: -20px;
  font-family: "Open Sans", sans-serif;
  color: #242424;
  opacity: 0.5;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
#main #news .row .box img {
  width: 100%;
}
#main #news #view {
  color: #242424;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 175%;
  font-style: normal;
  border: 1px solid #BB2339;
  border-radius: 100px;
  padding: 8px 32px;
  font-weight: 700;
}
#main #news #view:hover {
  color: white;
  background-color: #BB2339;
}
#main .videomodal .video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .videomodal .video img:first-child {
  width: 100%;
}
#main .videomodal .video img:nth-child(2) {
  position: absolute;
}
#main .videomodal .video .btn:last-child {
  position: absolute;
}
#main .videomodal .modal-video {
  margin-left: -300px;
  width: 1080px !important;
}
@media screen and (max-width: 1200px) {
  #main .videomodal .modal-video {
    margin-left: -150px;
    width: 800px !important;
  }
}
@media screen and (max-width: 830px) {
  #main .videomodal .modal-video {
    margin: 0 auto;
    width: 500px !important;
  }
}
@media screen and (max-width: 530px) {
  #main .videomodal .modal-video {
    margin: 0 auto;
    width: 400px !important;
  }
}
@media screen and (max-width: 430px) {
  #main .videomodal .modal-video {
    margin: 0 auto;
    width: 350px !important;
  }
}
#main .videomodal .modal-video .modal-body iframe {
  width: 100%;
}
#main .gallery {
  margin-top: 120px;
  background-color: #f4f4f4;
  padding: 130px 0;
}
@media screen and (max-width: 768px) {
  #main .gallery .row {
    flex-direction: column-reverse;
  }
}
#main .gallery .row .gallery_left h5 {
  color: #242424;
  font-family: "Cera Round Pro";
  font-weight: bold;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
}
#main .gallery .row .gallery_left h2 {
  font-family: "Cera Round Pro";
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #242424;
}
#main .gallery .row .gallery_left p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #aaaaaa;
  padding: 24px 0;
}
#main .gallery .row .gallery_left a {
  color: #242424;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 175%;
  font-style: normal;
  border: 1px solid #BB2339;
  border-radius: 100px;
  padding: 8px 32px;
  font-weight: 700;
}
#main .gallery .row .gallery_left a:hover {
  color: white;
  background-color: #BB2339;
}
#main .gallery .row .gallery_right {
  overflow-x: hidden;
}
#main .gallery .row .gallery_right .owl-carousel {
  width: 1200px;
}
#main .gallery .row .gallery_right .owl-theme .item1 {
  position: relative;
  width: 301px;
  height: 450px;
  background-image: url(../../images/index/egg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#main .gallery .row .gallery_right .owl-theme .item1:hover .overlay {
  transition: 0.5s;
  opacity: 0.8;
}
#main .gallery .row .gallery_right .owl-theme .item2 {
  position: relative;
  width: 301px;
  height: 450px;
  background-image: url(../../images/index/kimchi.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#main .gallery .row .gallery_right .owl-theme .item2:hover .overlay {
  transition: 0.5s;
  opacity: 0.8;
}
#main .gallery .row .gallery_right .owl-theme .item3 {
  position: relative;
  width: 301px;
  height: 450px;
  background-image: url(../../images/index/download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#main .gallery .row .gallery_right .owl-theme .item3:hover .overlay {
  transition: 0.5s;
  opacity: 0.8;
}
#main .gallery .row .gallery_right .owl-theme .owl-dots {
  display: none;
}
#main .gallery .row .gallery_right .owl-theme .owl-nav {
  display: none;
}
#main .gallery .row .gallery_right .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0;
}
#main .gallery .row .gallery_right .overlay img {
  width: 43px;
  height: 43px;
}/*# sourceMappingURL=main.css.map */