// FONT-FAMILYS

// Open sans

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// Inter

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Cera Round Pro

@font-face {
  font-family: 'Cera Round Pro';
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url(../../fonts/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}