@import "../global.scss";

#about {
  padding: 150px 0 130px;
  background: #e5e5e5;
  .about_info {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text-center {
      font-family: $font-family-cera;
      font-weight: 900;
      font-size: 164x;
      line-height: 130%;
      text-align: right;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      color: #242424;
    }
    img:nth-child(2) {
      padding: 8px 0 40px;
    }
    p {
      font-family: $font-family-opensans;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.04em;
      color: #242424;
      opacity: 0.8;
    }
    img:nth-child(4) {
      width: 100%;
      padding: 30px 0;
    }
  }
}
